/* 共通CSSCSS */
.usertop-li {
    list-style: none;
    padding-left: 20px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
#user_name {
    text-align: center;
}

p {
    font-size: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

#backhome {
    color: #000;
    text-decoration: none;
    margin-right: 0px;
}

#selectnum {
    font-size: 20px;
}

#end_num {
    color: red;
}

.pright {
    float: right;
    bottom: 0px;
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }
}